@tailwind base;
@tailwind components;

.nav-heading {
    font-family: gothic-open-shaded, sans-serif;
}

.hero {
    background-image: url("/img/texture/linetexture.png");
}

.hero-2 {
    background-image: url("/img/texture/newvint.png");
}

.text-brand {
    font-family: lust, serif;

    font-weight: 400;

    font-style: normal;
}

.text-paragraph {
    font-family: "American Typewriter";
}

.text-dashboard-heading {
    font-family: "Countach";
}

.text-dashboard {
    font-family: "Avenir Next";
}

.link-active {
    @apply text-gray-800;
}

.paid-banner {
    font-family: 'Pastdue';
    color: #a92a25;
    transform: rotate(-10deg);
}

@tailwind utilities;