@tailwind base;
@tailwind components;

.nav-heading {
    font-family: gothic-open-shaded, sans-serif;
}

.hero {
    background-image: url("/img/texture/linetexture.png");
}

.hero-2 {
    background-image: url("/img/texture/newvint.png");
}

.text-brand {
    font-family: "Indigo Regular";
}

.text-paragraph {
    font-family: "American Typewriter";
}

.text-dashboard-heading {
    font-family: "Countach";
}

.text-dashboard {
    font-family: "Avenir Next";
}

.link-active {
    @apply text-gray-800;
}

@tailwind utilities;